:root{
  --green-0: rgb(248,255,238);
  --green-10: rgb(189,227,86);
  --green-20: rgb(143,172,63);
  --green-default: rgb(143,172,63);
  --green-30: rgb(122,147,53);
  --green-40: rgb(91,110,37);
  --green-50: rgb(61,75,23);
  --green-60: rgb(34,43,10);
  --pink-0: rgb(255,251,252);
  --pink-10: rgb(250,199,216);
  --pink-20: rgb(247,142,182);
  --pink-30: rgb(244,66,150);
  --pink-40: rgb(191,35,113);
  --pink-50: rgb(133,21,77);
  --pink-60: rgb(86,10,48);
  --pink-default: rgb(86,10,48);
  --red-0: rgb(255,251,251);
  --red-10: rgb(250,201,200);
  --red-20: rgb(247,147,146);
  --red-30: rgb(245,79,75);
  --red-40: rgb(218,45,39);
  --red-default: rgb(218,45,39);
  --red-50: rgb(138,25,21);
  --red-60: rgb(83,11,8);
  --beige-0: rgb(253,252,251);
  --beige-10: rgb(233,218,208);
  --beige-default: rgb(233,218,208);
  --beige-20: rgb(202,168,142);
  --beige-30: rgb(160,133,112);
  --beige-40: rgb(120,99,83);
  --beige-50: rgb(82,67,56);
  --beige-60: rgb(47,38,30);
  --yellow-0: rgb(255,252,242);
  --yellow-10: rgb(255,229,62);
  --yellow-default: rgb(255,229,62);
  --yellow-20: rgb(197,175,0);
  --yellow-30: rgb(156,138,0);
  --yellow-40: rgb(117,103,0);
  --yellow-50: rgb(80,70,0);
  --yellow-60: rgb(46,40,0);
  --blue-0: rgb(251,252,255);
  --blue-10: rgb(195,213,255);
  --blue-20: rgb(131,175,255);
  --blue-30: rgb(0,137,252);
  --blue-default: rgb(0,137,252);
  --blue-40: rgb(0,103,192);
  --blue-50: rgb(0,70,134);
  --blue-60: rgb(0,40,80);
  --purple-0: rgb(252,252,254);
  --purple-10: rgb(218,208,243);
  --purple-20: rgb(185,164,232);
  --purple-30: rgb(155,119,220);
  --purple-40: rgb(127,72,205);
  --purple-50: rgb(105,57,172);
  --purple-default: rgb(105,57,172);
  --purple-60: rgb(51,25,87);

  --primary: var(--pink-default);
  --secondary: var(--green-default);
  --text: #1b2327;
}
html {
  accent-color: var(--primary);
  color: var(--text);
  background-color: var(--beige-default);
}
ul[class] {
  padding-left: 0;
  list-style-type: none;
}
a {
  color: var(--primary);
}
input[type="checkbox"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  margin-bottom: -0.15rem;
  margin-right: 0.25rem;
}
input[type="checkbox"]:checked {
  background: var(--primary);
  background-image: url(
  'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13 4a1 1 0 0 1 1 0v1l-6 7a1 1 0 0 1-1 0L3 8a1 1 0 0 1 0-1 1 1 0 0 1 1 0l3 3 6-6Z"/></svg>');
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.inset-0 {
  inset: 0;
}
.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(var(--grid-col-breakpoint), 1fr)); */
}
/* grid-template-columns: repeat(auto-fit, minmax(var(--grid-col-breakpoint), 1fr)); */
.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.flex-grow {
  flex-grow: 1;
}
.gap-8 {
  gap: .5rem;
}
.gap-16 {
  gap: 1rem;
}

.max-is-640 {
  max-inline-size: 40rem;
}

.m-auto {
  margin: auto;
}
.border {
  border: 1px solid;
}
.radius-4 {
  border-radius: .25rem;
}
.radius-t-4 {
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
}
.radius-b-4 {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.p-8 {
  padding: .5rem;
}
.pi-12 {
  padding-inline-start: .75rem;
  padding-inline-end: .75rem;
}

.color-inherit {
  color: inherit;
}
.color-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}
.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}

.card a,
.card button,
.card input,
.card select,
.card textarea {
  position: relative;
}
.card .card__link {
  position: static;
}
.card__link:before {
  content: '';
  position: absolute;
  inset: 0;
}