:root{
  --green-0: rgb(248,255,238);
  --green-10: rgb(189,227,86);
  --green-20: rgb(143,172,63);
  --green-default: rgb(143,172,63);
  --green-30: rgb(122,147,53);
  --green-40: rgb(91,110,37);
  --green-50: rgb(61,75,23);
  --green-60: rgb(34,43,10);
  --pink-0: rgb(255,251,252);
  --pink-10: rgb(250,199,216);
  --pink-20: rgb(247,142,182);
  --pink-30: rgb(244,66,150);
  --pink-40: rgb(191,35,113);
  --pink-50: rgb(133,21,77);
  --pink-60: rgb(86,10,48);
  --pink-default: rgb(86,10,48);
  --red-0: rgb(255,251,251);
  --red-10: rgb(250,201,200);
  --red-20: rgb(247,147,146);
  --red-30: rgb(245,79,75);
  --red-40: rgb(218,45,39);
  --red-default: rgb(218,45,39);
  --red-50: rgb(138,25,21);
  --red-60: rgb(83,11,8);
  --beige-0: rgb(253,252,251);
  --beige-10: rgb(233,218,208);
  --beige-default: rgb(233,218,208);
  --beige-20: rgb(202,168,142);
  --beige-30: rgb(160,133,112);
  --beige-40: rgb(120,99,83);
  --beige-50: rgb(82,67,56);
  --beige-60: rgb(47,38,30);
  --yellow-0: rgb(255,252,242);
  --yellow-10: rgb(255,229,62);
  --yellow-default: rgb(255,229,62);
  --yellow-20: rgb(197,175,0);
  --yellow-30: rgb(156,138,0);
  --yellow-40: rgb(117,103,0);
  --yellow-50: rgb(80,70,0);
  --yellow-60: rgb(46,40,0);
  --blue-0: rgb(251,252,255);
  --blue-10: rgb(195,213,255);
  --blue-20: rgb(131,175,255);
  --blue-30: rgb(0,137,252);
  --blue-default: rgb(0,137,252);
  --blue-40: rgb(0,103,192);
  --blue-50: rgb(0,70,134);
  --blue-60: rgb(0,40,80);
  --purple-0: rgb(252,252,254);
  --purple-10: rgb(218,208,243);
  --purple-20: rgb(185,164,232);
  --purple-30: rgb(155,119,220);
  --purple-40: rgb(127,72,205);
  --purple-50: rgb(105,57,172);
  --purple-default: rgb(105,57,172);
  --purple-60: rgb(51,25,87);

  --primary: var(--pink-default);
  --secondary: var(--green-default);
  --text: #1b2327;
}
html {
  accent-color: var(--primary);
  color: var(--text);
  background-color: var(--beige-default);
}
ul[class] {
  padding-left: 0;
  list-style-type: none;
}
a {
  color: var(--primary);
}
input[type="checkbox"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  margin-bottom: -0.15rem;
  margin-right: 0.25rem;
}
input[type="checkbox"]:checked {
  background: var(--primary);
  background-image: url(
  'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13 4a1 1 0 0 1 1 0v1l-6 7a1 1 0 0 1-1 0L3 8a1 1 0 0 1 0-1 1 1 0 0 1 1 0l3 3 6-6Z"/></svg>');
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.overflow-hidden {
  overflow: hidden;
}
.inset-0 {
  inset: 0;
}
.r-0 {
  right: 0px;
}
.b-0 {
  bottom: 0px;
}
.z-10 {
  z-index: 10;
}
.block {
  display: block;
}
.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(var(--grid-col-breakpoint), 1fr)); */
}
/* grid-template-columns: repeat(auto-fit, minmax(var(--grid-col-breakpoint), 1fr)); */
.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-grow {
  flex-grow: 1;
}
.gap-8 {
  gap: .5rem;
}
.gap-16 {
  gap: 1rem;
}

.is-full {
  inline-size: 100%;
}
.is-256 {
  inline-size: 16rem;
}
.bs-full {
  block-size: 100%;
}
.bs-256 {
  block-size: 16rem;
}
.max-is-640 {
  max-inline-size: 40rem;
}
.aspect-3\/2 {
  aspect-ratio: 3/2;
}

.m-auto {
  margin: auto;
}
.mbe-8 {
  margin-block-end: .5rem;
}
.mbs-16 {
  margin-block-start: 1rem;
}
.mbe-16 {
  margin-block-end: 1rem;
}
.border {
  border: 1px solid;
}
.border-t-0 {
  border-top: 0;
}
.border-l-0 {
  border-left: 0;
}
.border-r-0 {
  border-right: 0;
}
.radius-4 {
  border-radius: .25rem;
}
.radius-8 {
  border-radius: .5rem;
}
.radius-t-4 {
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
}
.radius-b-4 {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.radius-t-8 {
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}
.radius-l-0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.radius-r-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.border-transparent {
  border-color: transparent;
}
.p-4 {
  padding: .25rem;
}
.p-8 {
  padding: .5rem;
}
.pi-12 {
  padding-inline: .75rem;
}
.pie-16 {
  padding-inline-end: 1rem;
}

.size-24 {
  font-size: 1.5rem;
}
.size-256 {
  font-size: 16rem;
}

.color-inherit {
  color: inherit;
}
.color-white {
  color: #fff;
}
.color-error {
  color: var(--red-30);
}

.bg-transparent {
  background-color: transparent;
}
.bg-white {
  background-color: #fff;
}
.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}

.fit-cover {
  object-fit: cover;
}

.card {
  transition-property: transform, box-shadow;
  transition-duration: .2s;
}
.card a,
.card button,
.card input,
.card select,
.card textarea {
  position: relative;
}
.card .card__link {
  position: static;
}
.card__link:before {
  content: '';
  position: absolute;
  inset: 0;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15);
}
.card:focus-within {
  transform: scale(1.02);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15);
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}